html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

.header-container {
  margin-bottom: 30px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  width: 400px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.button {
  width: 100px;
  height: 100px;
  flex: auto;
}

.result-display-container {
  width: 100%;
  height: 100px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-element {
  font-size: 30px;
}
